## CS3481 Group Project 2

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
data = pd.read_csv('Data/Speed Dating Data.csv', encoding='latin-1')

print(data.shape[0], 'observations and', data.shape[1], 'features')

data.head()

8378 observations and 195 features

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [11]:
print(data.dtypes.value_counts())

float64    174
int64       13
object       8
dtype: int64

In [12]:
data.groupby('iid').mean().gender.value_counts()

1.0    277
0.0    274
Name: gender, dtype: int64

In [13]:
data['match'].value_counts(normalize=True)

0    0.835283
1    0.164717
Name: match, dtype: float64